/*#region UI: Test */
.Test {
  background: #ecf0f3;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .Test__box {
    background: #ecf0f3;
    border-radius: 8px;
    box-shadow: 20px 20px 60px #c9cccf, -20px -20px 60px #ffffff;
    -webkit-box-shadow: 20px 20px 60px #c9cccf, -20px -20px 60px #ffffff;
    height: 150px;
    width: 150px;
    display: grid;
    place-items: center;
    transition: all 0.3s ease-in-out;

    // &:hover {
    //   box-shadow: inset 2px 2px 5px #c9cccf, inset -3px -3px 7px #ffffff;
    //   -webkit-box-shadow: inset 2px 2px 5px #c9cccf, inset -3px -3px 7px #ffffff;
    //   transition: all 0.3s ease-in-out;
    // }

    & span {
      color: #b5b7b9;
      font-size: 2rem;
      font-weight: lighter;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
/*#endregion /UI: Test */
