/*#region UI: Footer */
.Footer__container {
  align-items: center;
  background: #202020;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  min-height: 10vh;
  position: absolute;
  width: 100%;

  .Footer {
    margin: auto;
    padding: 6rem 0 4rem 0;
    width: 70%;

    .Footer__container-title {
      font-size: 42px;
      font-weight: lighter;
      letter-spacing: 4px;
      text-align: start;
      text-transform: uppercase;
    }

    .Footer__social-media {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .Footer__social-media-item {
        font-size: 32px;
        padding: 1rem 24px 1rem 0;
        transition: all 250ms ease-in-out;

        &:hover {
          cursor: pointer;
          color: #8a8a8a;
          transition: all 250ms ease-in-out;
        }
      }
    }

    .Footer__short-link-container {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;
      text-align: left;

      .Footer__short-links {
        padding: 1rem 0;
        min-width: 220px;

        & h4 {
          font-size: 22px;
          font-weight: 500;
          padding: 8px 0;
        }

        & ul {
          list-style: none;

          & li {
            font-size: 14px;
            padding: 6px 0;
          }
        }
      }
    }
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .Footer__container {
    .Footer {
      width: 85%;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /UI: Footer */
