/*#region Page: About */
.About__container {
  background: transparent;
  width: 100%;

  .About {
    align-items: flex-start;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    min-height: 82vh;
    width: 70%;

    .About__text {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      position: relative;
      text-align: left;

      .About__title {
        color: #333333;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
        z-index: 800;
      }

      .About__section {
        padding: 1rem 0;

        & h2 {
          color: #868686;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 4px;
          text-transform: uppercase;
          z-index: 800;
        }

        & p {
          line-height: 26px;
          padding: 0.6rem 0;
        }
      }
    }
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .About__container {
    .About {
      flex-direction: column;
      width: 85%;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /Page: About */
