/*#region Page: Home */
.Home__container {
  background: transparent;
  width: 100%;

  .Home {
    align-items: center;
    background: transparent;
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 82vh;
    width: 70%;

    .Home__text {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      position: relative;
      text-align: left;

      & svg {
        position: absolute;
        transform: scale(1.4);
        left: 420px;
        z-index: 1;
      }

      .Home__title {
        color: #333333;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
        z-index: 1000;
      }

      .Home__title-lead {
        color: #868686;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 4px;
        text-transform: uppercase;
        z-index: 1000;
      }

      .Home__cta {
        align-items: center;
        background: #f7f7f7;
        border-radius: 40px;
        box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
        -webkit-box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        z-index: 1000;

        &:hover {
          box-shadow: inset 2px 2px 5px #c9cccf, inset -3px -3px 7px #ffffff;
          -webkit-box-shadow: inset 2px 2px 5px #c9cccf,
            inset -3px -3px 7px #ffffff;

          .Home__cta-text {
            color: #747474;
            transition: all 250ms ease-in-out;
          }
        }

        .Home__cta-text {
          color: #868686;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 2px;
          padding: 1rem 2rem;
          text-transform: uppercase;
          transition: all 250ms ease-in-out;
        }
      }
    }

    .Home__image {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .Home__image-outer-square {
        background: #f7f7f7;
        border-radius: 0;
        box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
        -webkit-box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
        display: grid;
        height: 600px;
        place-items: center;
        width: 600px;
        z-index: 1000;

        .Home__image-first-inner-circle {
          background: #f7f7f7;
          border-radius: 50%;
          box-shadow: inset 2px 2px 5px #c9cccf, inset -3px -3px 7px #ffffff;
          -webkit-box-shadow: inset 2px 2px 5px #c9cccf,
            inset -3px -3px 7px #ffffff;
          display: grid;
          height: 450px;
          place-items: center;
          width: 450px;

          .Home__image-second-inner-square {
            background: #f7f7f7;
            border-radius: 0;
            box-shadow: 20px 20px 60px #d2d2d2, -20px 0px 60px #ffffff;
            // -webkit-box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
            height: 275px;
            width: 275px;
            display: grid;
            place-items: center;
            transform: rotate(45deg);

            .Home__image-third-inner-circle {
              background: #f7f7f7;
              border-radius: 50%;
              box-shadow: inset 2px 2px 5px #c9cccf, inset -3px -3px 7px #ffffff;
              -webkit-box-shadow: inset 2px 2px 5px #c9cccf,
                inset -3px -3px 7px #ffffff;
              display: grid;
              height: 150px;
              place-items: center;
              transform: rotate(-45deg);
              width: 150px;

              .Home__image-fourth-inner-circle {
                background: #f7f7f7;
                border-radius: 50%;
                box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
                -webkit-box-shadow: 20px 20px 60px #d2d2d2,
                  -20px -20px 60px #ffffff;
                cursor: pointer;
                display: grid;
                height: 75px;
                place-items: center;
                width: 75px;

                &:hover {
                  .Home__theme-toggle {
                    & span {
                      color: #747474;
                      transition: all 250ms ease-in-out;
                    }
                  }
                }

                .Home__theme-toggle {
                  transform: rotate(0);

                  & span {
                    color: #868686;
                    font-size: 3rem;
                    transition: all 250ms ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .Home__container {
    .Home {
      flex-direction: column;
      width: 85%;

      .Home__text {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 8rem;
      }

      .Home__image {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 8rem 0;
      }
    }
  }
}

@media screen and (max-width: 1560px) {
  .Home__container {
    .Home {
      .Home__image {
        .Home__image-outer-square {
          height: 350px;
          width: 350px;

          .Home__image-first-inner-circle {
            height: 275px;
            width: 275px;

            .Home__image-second-inner-square {
              height: 187.5px;
              width: 187.5px;

              .Home__image-third-inner-circle {
                height: 125px;
                width: 125px;

                .Home__image-fourth-inner-circle {
                  height: 67.5px;
                  width: 67.5px;

                  .Home__theme-toggle {
                    & span {
                      font-size: 2rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /Page: Home */
