/*#region UI: Header */
.Header__container {
  background: transparent;
  width: 100%;

  .Header {
    align-items: center;
    color: #525252;
    display: flex;
    height: 18vh;
    justify-content: space-between;
    margin: auto;
    width: 90%;

    .Header__logo-container {
      align-items: center;
      display: flex;
      height: 4rem;
      justify-content: center;
      width: auto;

      .Header__logo {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 1rem 0;
        text-transform: uppercase;
      }
    }

    .Header__toggle-container {
      align-items: center;
      border-radius: 100px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1001;

      &:hover {
        .Header__toggle-menu {
          .Header__menu-bar {
            background: #747474;
            transition: all 250ms ease-in-out;
          }
        }
      }

      .Header__toggle-menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 3rem;
        justify-content: space-evenly;
        width: 3rem;
        z-index: 1001;

        .Header__menu-bar {
          background: #333333;
          height: 0.25rem;
          transition: all 250ms ease-in-out;
          width: 3rem;
        }
      }
    }
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .Header__container {
    .Header {
      width: 85%;
    }
  }
}
/*#endregion /Media Queries */
/*#endregion /UI: Header */
