/*#region Default: React */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #202020;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  background: #181818;
  color: #f7f7f7;
}
::selection {
  background: #181818;
  color: #f7f7f7;
}
/*#endregion /Default: React */

/*#region Native Styling */
a {
  text-decoration: none;
}
/*#endregion /Native Styling */

/*#region Component: App */
.App {
  text-align: center;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(to right, #f7f7f7 90%, #181818 10%);
  background-image: -moz-linear-gradient(to right, #f7f7f7 90%, #181818 10%);
  background-image: -o-linear-gradient(to right, #f7f7f7 90%, #181818 10%);
  background-image: linear-gradient(to right, #f7f7f7 90%, #181818 10%);

  /*#region Uncomment for animated gradient background */
  // width: 100%;
  // height: 100vh;
  // background: linear-gradient(-45deg, #f7f7f7 65%, #dbdada, #525252);
  // background-size: 400% 400%;
  // position: relative;
  // animation: homeGradient 10s ease-in-out infinite;
  /*#endregion /Uncomment for animated gradient background */
}

@keyframes homeGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*#region Media Queries */
@media screen and (max-width: 1024px) {
  .App {
    background-image: none;
  }
}
/*#endregion /Media Queries */
/*#endregion /Component: App */
